DATABASE_URL=
SMTP_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FQDN=
SMTP_PLAIN=FALSE
KEYCLOAK_REALM_URL=https://e.yildizskylab.com/realms/e-skylab
APP_SECRET=

# Eureka Configuration
EUREKA_SERVER=
APP_NAME=skymail
APP_PORT=3000
